* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(255, 255, 255);
}

body.swap{
  background-color: aqua;
}

h1{
  text-align: center;
   color: rgb(158, 10, 216);
   font-family: cursive;
}

#structure {
  width: 500px;
  height: 500px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  flex-flow: row wrap;
}

#structure button {
  display: inherit;
  flex: 1 150px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
  font-size: 30px;
  background-color: rgb(45, 122, 173);
  justify-content: center;
  border-color: white;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

#structure button:hover{
  /* background-color: rgba(45, 128, 161, 0.5); */
  background-color: rgb(31, 89, 112);
  /* background-color: rgb(149, 57, 202); */
  transition:linear 300ms;
  /* font-size: 100px; */
  color: white;
  
}

#structure button::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
}

#structure button:hover::after {
  content: '';
  /* position: relative; */
}

